@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/Roboto-Light.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/Roboto-Bold.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/Roboto-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
	font-size: 25px;
	font-family: RobotoLight, sans-serif;
	overflow: auto;
}

section {
	padding: 1em 8em 2em;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.logo_img {
	display: block;
	float: left;
}

.logo_img > img {
	width: 5em;
}

.logo_text {
	font-family: RobotoRegular;
	display: block;
	float: left;
	margin-left: 0.5em;
	text-align: left;
}

.project_title {
	font-family: RobotoRegular;
	font-size: 2.24em;
	display: block;
	float: left;
	text-align: center;
	max-width: 15em;
}

.project_title > p {
	margin: 0;
}

.logo_text_main {
	font-size: 3.16em;
	margin-bottom: -0.18em;
}

.logo_text_sub {
	font-size: 1.2em;
}

.first_sec:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}


.first_sec {
	padding: 0;
	height: 21.9em;
	width: 100%;
	position: fixed;
	top: 0; left: 0;
	overflow: hidden;
	z-index: -3;
	text-align: center;
}

.first_sec > #first_backgr {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	max-width: 100%;
	z-index: -2;
}

#first_backgr_404 {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -2;
}

#first_white {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.44;
	z-index: -1;
}

.second_sec {
	margin-top: 21.9em;
}

.text_sec {
	background-color: white;
}

.donate_sec {
	background-color: #3277B2;
	color: white;
}

.content_header {
	text-align: center;
	margin: 0.5em 0;
}

.text_header {
	font-size: 2em;
}

.donate_header {
	font-size: 2.6em;
	font-family: RobotoBold;
	line-height: 1em;
}

.donate_button {
	border-radius: 39px;
	border: 3px solid white;
	font-size: 0.92em;
	padding: 0.9em 1.3em;
	width: fit-content;
	margin: 2em auto;
	cursor: pointer;
	text-align: center;
}

.donate_button:hover {
	background-color: #3B88C6;
}

.donate_button_icon {
	font-size: 1em;
}

.narrow_text {
	text-align: center;
	font-size: 1.2em;
	padding: 0 2.5em;
}

.tile {
	display: inline-block;
	height: 14.4em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0 1% 1%;
}

.full_tile {
	width: 98%;
}

.half_tile {
	width: 48%;
}

.tile_color {
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	transition: 0.3s;
	opacity: 0.3;
}

.tile_text {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.8em;
	color: white;
	padding: 1em 0.5em;
}

.tile_text > a {
	text-decoration-line: none;
	color: white;
	height: -webkit-fill-available;
}

.tile_text > a:hover {
	border-bottom: 2px solid white;
}

.footer_sec {
	padding: 2em 2em 3em;
	background-color: #8E8E8E;
	display: inline-block;
	width: -webkit-fill-available;
	margin-bottom: -1.1em;
}

.footer_logo {
	cursor: pointer;
}

.footer_logo img {
	width: 100px;
	margin-right: 20px;
}

.footer_contain {
	width: 31.38%;
	color: white;
	display: block;
	padding: 0 10px;
	float: left;
    word-break: break-word;
}

.footer_contain_mini {
	margin-top:0.5em;
	font-size:0.7em;
	text-align:right
}

.img_in_text {
	width: 45%;
	margin-bottom: 0.3em;
}

.img_in_text[align=left] {
	margin-right: 0.6em;
}

.img_in_text[align=right] {
	margin-left: 0.6em;
}

.images_block_3 > img {
	width: 31%;
	margin: 0 0.5%;
}

.program_sec {
	background-color: #E5F3FF;
}

.img_expand {
	cursor: pointer;
}

.popup:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.popup {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.66);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: auto;
	cursor: pointer;
	padding: 0;
	text-align: center;
}

.popup_img {
	margin: auto;
	display: inline-block;
	max-width: 90%;
	max-height: 90%;
	z-index: 3;
	border: 0.2em solid white;
	border-radius: 0.3em;
	vertical-align: middle;
}

@media (max-width: 1124px){
	section {
		padding: 0.7em 5em 1.4em;
	}

	.footer_sec {
		padding: 2em 2em 3em;
	}

	.footer_contain {
		width: 30.44%;
		font-size: 0.7em;
	}

	.footer_logo > p {
		text-align: center;
	}
	
	.half_tile {
		width: 98%;
	}
}

@media (max-width: 991px){
	body {
		font-size: 23px;
	}

	.second_sec {
		margin-top: 12.9em;
	}

	section {
		padding: 0.5em 1.5em 1em;
	}

	.narrow_text {
		padding: 0 1em;
	}

	.first_sec {
		height: 12.9em;
	}

	.footer_contain {
		width: 43%;
		text-align: center;
		font-size: 1em;
	}

	.footer_contain_mini {
		width: 100%;
	}

	.footer_logo img {
		display: none;
	}

	.project_title {
		font-size: 1.46em;
	}

	.img_in_text {
		width: 55%;
		margin-bottom: 0.3em;
	}

	.img_in_text[align=left] {
		margin-right: 0.6em;
	}

	.img_in_text[align=right] {
		margin-left: 0.6em;
	}

	.logo {
		font-size: 18px;
	}
}

@media (max-width: 460px){
	body {
		font-size: 20px;
	}

	.second_sec {
		margin-top: 12em;
	}

	section {
		padding: 0.4em 1em 0.8em;
	}

	.donate_header {
		font-size: 2.4em;
	}

	.narrow_text {
		padding: 0 1.5em;
	}

	.first_sec {
		height: 12em;
	}

	.logo {
		font-size: 12px;
	}

	.footer_sec {
		padding: 2em;
		text-align: center;
	}

	.footer_contain {
		width: 100%;
	}

	.footer_logo img {
		display: block;
		width: 76%;
		margin: 0 12% 20px;
	}

	.project_title {
		font-size: 1.5em;
	}

	.img_in_text {
		width: 100%;
		margin: 0;
		margin-bottom: 1em;
	}

	.images_block_3 > img {
		width: 80%;
		margin: 0 10%;
		margin-bottom: 0.3em;
	}

	.first_sec > #first_backgr {
		max-width: 135%;
	}
}